/*
Date: 18 Oct 2023
{ Ahmad Adnan Sait
    amohammedsait@stu.kau.edu.sa
    2036577 }

{ Abdullah Saleh AlOawis
    aabdullahalowais@stu.kau.edu.sa
    2036620}

*/

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    text-align: center;
    background-color: #007bff;
    color: white;
}

.first-column-cell {
    background-color: #f5f5f5;
}

.footer {
    text-align: center;
    padding: 20px;
}

.continue-button {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.continue-button:hover {
    background-color: #0056b3;
}